body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f89a;
    scroll-behavior:smooth ;
    overflow-x:hidden ;
}

.subtextAll{
    text-transform: uppercase;
    color: #FF3147;
    font-size: 20px;
    font-weight:500;
    margin-bottom: 10px;

}
/*SECTION 1*/
section{
    height:100%;
    top: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.sec1{
    margin: 50px 0;
    box-sizing: border-box;
    height: 100%;
}
.containerSec1{
    display: flex;
    position: relative;
    margin:20px 100px;
    width: 100%;
    flex-wrap: wrap;
    
}
.mainContent{
    position: relative;
    height: 140px;
    width: auto;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;

}
.imagecontainerSce1{
    max-height: 620px;
    max-width: 580px;
    width: auto;
    height: auto;
    margin: 50px;
    box-sizing: border-box;
}
.contentSec1{
    padding-top: 50px;
    position: relative;
    margin: 50px;
    max-width: 580px;
    width: 100%;


}
.subContent{

    height: 83px;
    width: 540px;
    font: normal normal normal 16px/30px Poppins;
}
.imageSec1{
    height: 100%;
    width: 100%;
}
.contactbtn{
    margin-top: 20px;
    height: 50px;
    width: 140px;
    background-color: #FF3147;
    color: white;
    border: none;
    border-radius: 7px;
}
#connectContainer{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c3c3c3;
}
#connect_us{
    font-family: 'poppins';
    padding: 50px;
    border: 1px solid #c3c3c3;
    background-color: white;
    height: 450px;
    width: 530px;
    box-shadow: 1px 1px 8px 2px #B1B1B1;
}
.inputtag{
    width: 100%;
    margin: 30px 0;
}
.input{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #c3c3c3;
}
.submit{
    border: 1px solid #c3c3c3;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #FF3147;
}
#corss{
    position: absolute;
    margin: 20px;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    opacity: 50%;
    cursor: pointer;
}
/*SECTION 2*/
.containerSec2{
    padding: 50px 0;
}
.contentSec2{
    margin: auto;
  width: 90%;

}
.paraContent,#subtextSec2_4{
    width: 520px;
    height: 100px;
    float: left;
}
.paraContent{
    font: normal normal normal 16px/30px Poppins;
    margin-bottom: 25px;
}
.imageSec2{
    height: 100%;
    width: 100%;
    display: block;
    object-fit:fill;
}

.imagBox{
    white-space: nowrap;
    display: flex;
    gap:25px;
    flex-direction: row;
    height: 500px;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.overlaySec2{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 330px;
    right: 0;
    background-color: #ff3146a5;
    transition: .5s ease;
    overflow: hidden;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.overlaySec2 h2{
    margin: 15px 0;
}
.subsec3{
    text-align: center;
    white-space: initial;

}

.imageContainer {
    position: relative;
    min-width: 330px;
    height: 476px;
    box-sizing: border-box;
    overflow: hidden;

}
.imageContainer:hover .overlaySec2{
    left: 0;
}
#btn {
    color: #FF3147; 
    border: 2px solid white;
    height: 9%;
    width: 55%;
    text-align: left;
    margin-top: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
}
.arrow{
    position: relative;
    bottom: 25px;
    left: 40px;
    height: auto;
    width: 15%;
}
.scrollbtn{
    display: flex;
    align-items: center;
}
.scrollbtn>img{
    margin: 5px;
}

/*SECTION 3*/
.containerSec3{
    text-align: center;
    height: auto;
    box-sizing: border-box;
}
.subcontainerSec3{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 77%;
    margin: auto;
    box-sizing: border-box;
}
.mainSec3{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.imagcontainerSec3{
    display: flex;
    float: left;
    height: 530px;
    max-width:720px;
    width: 100%;
    margin: 5px;
}
.imageSec3{
    float: left;
    width: 100%;
    height: 100%;
    max-width:700px ;
    object-fit: fill;
}
.contentSec3{
    position: relative;
    height: 100%;
    min-width: 30%;
    width: 33%;
}
.contentcontainer{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px;
    height:173px ;
    width: 100%;
    min-width: 250px;
    box-sizing: border-box;
    box-shadow:1px 1px 3px 1px#B1B1B1 ;
    margin: 5px;
    transition:all .3s ease;
    background-color: #fff;
}
.contentcontainer:hover{
    scale: 1.02;
    background-color: #FF3147;
    cursor: pointer;
}
.subtextSec3{
    font: normal normal normal 15px/30px poppins;
}
.headtextSec3{
    font: normal normal bold 19px/30px poppins;
}

/*SECTION 4*/
.dataContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:0 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.dataBox{
    margin: 20px 0;
    height: 220px;
    width: 220px;
    text-align: center;
    background-color: #672C2C1F;
    padding: 30px 0;
    transition: .3s ease;
    box-shadow: 2px 2px 8px 3px #c3c3c3;
    box-sizing: border-box;
}
.dataBox>span{
    display: block;
}
.dataBox:hover{
    transform: scale(1.09);
}
#containerSec4{
    text-align: center;
    height: 100vh;
    overflow: auto;
}
.contentSec4{
    margin: 100px;
}
#subtextSec2_4{
    text-transform: uppercase;
    font: normal normal bold 35px/50px poppins;
}
#subtextSec4{
    text-transform: uppercase;
    font: normal normal bold 35px/50px poppins;
}
.countSec4{
    font: normal normal bold 35px/50px poppins;
}
.datasubtextSec4{
    text-transform: capitalize;
    font-size: 16px;
}
